@{
    ViewData["Title"] = "Add User";
}

<div class="col-md-12">
    
    <form id="bloc_form_user_add" class="cus-block-content form-horizontal col-xs-12 col-md-3" data-bind="with: selectedUser, submit: addNewUser">
        <div class="form-group">
            <label for="input-email">Email</label>
            <input data-bind="value: EmailAddress" type="email" class="form-control" id="input-email" placeholder="erwree@domai.com" />
        </div>
        
        <div class="form-group">
            <label for="input-firstname">FirstName</label>
            <input data-bind="value: FirstName" type="text" class="form-control" id="input-firstname" placeholder="Firstname ..." />
        </div>
        
        <div class="form-group">
            <label for="input-lastname">LastName</label>
            <input data-bind="value: LastName" type="text" class="form-control" id="input-lastname"  placeholder="Lastname ..." />
        </div>
        
        <button id="add_user_btn" type="submit" class="btn btn-default">Add</button>
    </form>
    
    <form id="bloc_form_user_update" style="display: none;" class="cus-block-content form-horizontal col-xs-12 col-md-3" data-bind="with: updatingdUser, submit: updateUser">
        <div class="form-group">
            <label for="input-email-modify">Email</label>
            <input data-bind="value: EmailAddress" type="email" class="form-control" id="input-email-modify" placeholder="erwree@domai.com" />
        </div>
        
        <div class="form-group">
            <label for="input-firstname-modify">FirstName</label>
            <input data-bind="value: FirstName" type="text" class="form-control" id="input-firstname-modify" placeholder="Firstname ..." />
        </div>
        
        <div class="form-group">
            <label for="input-lastname-modify">LastName</label>
            <input data-bind="value: LastName" type="text" class="form-control" id="input-lastname-modify"  placeholder="Lastname ..." />
        </div>
        
        <button id="update_user_btn" type="submit" class="btn btn-default">Modify</button>
    </form>
    
    <div class="cus-block-content col-xs-12 col-md-8 col-md-offset-1 table-responsive">
        <table id="table_list_user" class="table-bordered table-striped col-md-12 col-xs-12">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Delete</th>
                    <th>Modify</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: users">
                <tr>
                    <td data-bind='text: FirstName, uniqueName: true'></td>
                    <td data-bind='text: LastName, uniqueName: true'></td>
                    <td data-bind='text: EmailAddress, uniqueName: true'></td>
                    <td data-bind='text: moment(DateCreated).format("LLL"), uniqueName: true'></td>
                    <td data-bind='text: moment(LastUpdated).format("LLL"), uniqueName: true'></td>
                    <td class="actions-td">
                        <span data-bind='click: $root.removeUser' title="delete" class="glyphicon glyphicon-remove" />
                    </td>
                    <td class="actions-td">
                        <span data-bind='click: $root.showData' title="modify" class="glyphicon glyphicon-search" />
                    </td>
                </tr>
               
            </tbody>     
        </table>
    </div>
    
<div>
    
    
 @section scripts {
        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/js/add_user_view.js"></script>
 }
