
.cus-block-content {
	margin-top: 10px;
	margin-bottom: 10px;
}

#table_list_user > tbody > tr {
	height: 35px;
}


table#table_list_user tbody tr td {
	text-align: center;
	vertical-align: center;
}

table#table_list_user thead th {
	text-align: center;
	vertical-align: center;
	height: 45px;
}

table tbody td.actions-td span {
	cursor: pointer;
	margin: 10px;
}

form#bloc_form_user button {
	width: 150px;
}
